{% extends 'base.html' %}
{% load static %}

{% block title %}My mineral collection | List of minerals{% endblock title %}

{% block content %}
<div class="col text-center">
    {% for m in object_list %}
    <div class="row justify-content-center px-3 py-2">
        <div id="mineral-{{ m.pk }}-card" class="card shadow-sm mx-3 my-3">
            <div class="card-body">
                <div class="text-center">
                    <h2>{{ m.name }}</h2>
                    <h4>{{ m.description }}</h4>
                    <div class="img-div">
                        <img src="{{ m.image.url }}" class="img-fluid img-thumbnail rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <h1 class="mt-4">No minerals found! Add them!</h1>
    {% endfor %}
</div>
{% endblock content %}

{% block content_script %}
{% endblock content_script %}