{% extends 'base.html' %}
{% load static %}

{% block title %}My mineral collection | List{% endblock title %}

{% block content %}
<div class="col text-center">
    <form action="{% url 'list' %}" method="get">
        <div class="row justify-content-center fs-4 mt-4">
            <div class="col-md-auto px-2 my-1">
                <button id="toggle-search-button" class="btn btn-primary bi bi-arrows-expand fw-bold" type="button"> Advanced search</button>
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="locality" placeholder="Locality">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="rarity" placeholder="Rarity">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="environment" placeholder="Environment">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="crystal_system" placeholder="Crystal system">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="cleavage" placeholder="Cleavage">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="luminescence" placeholder="Luminescence">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="luster" placeholder="Luster">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="streak" placeholder="Streak">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="pleochroism" placeholder="Pleochroism">
            </div>
            <div class="col-md-2 px-2 my-1 advanced-search" hidden>
                <input type="text" class="form-control input-search" name="radioactivity" placeholder="Radioactivity">
            </div>
            <div class="col-md-2 px-2 my-1">
                <input type="text" class="form-control input-search" name="query" placeholder="Name, description, classification" autofocus>
            </div>
            <div class="col-5 col-sm-3 col-md-auto px-2 my-1">
                <button id="search-button" class="btn btn-primary bi bi-search fw-bold" type="submit" disabled> Search</button>
            </div>
            <div class="col-6 col-sm-4 col-md-auto px-2 my-1">
                <a class="btn btn-secondary bi bi-arrow-counterclockwise fw-bold" href="{% url 'list' %}" role="button"> Reset search</a>
            </div>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 mt-4">
    {% for m in object_list %}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="{{ m.image.url }}" class="card-img-top" alt="{{ m.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ m.name }}</h5>
                    <p class="card-text">{{ m.description|truncatechars:36 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'detail' pk=m.pk %}" class="btn btn-primary fw-bold bi bi-info-circle"> Detail</a>
                </div>
            </div>
        </div>
    {% empty %}
        <h1 class="mt-4">No minerals found! Add them!</h1>
    {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
const toggle_search_button = document.getElementById('toggle-search-button');
const advanced_search = document.getElementsByClassName('advanced-search');
toggle_search_button.addEventListener("click", () => {
    toggle_search_button.classList.toggle('bi-arrows-expand');
    toggle_search_button.classList.toggle('bi-arrows-collapse');
    for (const e of advanced_search) {
        e.toggleAttribute('hidden');
    }
});

const search_button = document.getElementById('search-button');
const input_search = document.getElementsByClassName('input-search');
for (const i of input_search) {
    i.addEventListener("input", () => {
        let length = 0;
        for (const input of input_search) {
            length = length + input.value.trim().length;
        }
        if (length === 0) {
            search_button.setAttribute("disabled", "true");
        }
        else {
            search_button.removeAttribute("disabled");
        }
        console.log(length);
    });
}
</script>
{% endblock script %}
