{% extends 'base.html' %}
{% load static %}

{% block title %}My mineral collection | List of minerals{% endblock title %}

{% block content %}
<div class="col text-center">
    <div class="row mt-4">
    {% for m in object_list %}
        <div class="col-sm-3 mb-3 mx-2 px-0">
            <div class="card">
                <img src="{{ m.image.url }}" class="card-img-top" alt="{{ m.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ m.name }}</h5>
                    <p class="card-text">{{ m.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary fw-bold bi bi-info-circle"> Detail</a>
                </div>
            </div>
        </div>
    {% empty %}
        <h1 class="mt-4">No minerals found! Add them!</h1>
    {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock content %}

{% block content_script %}
{% endblock content_script %}