{% load static i18n %}
{% get_current_language as LINGUA_HTML %}
<!DOCTYPE html>
<html lang="{{LINGUA_HTML}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'styles/vendor/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles/vendor/bootstrap-icons.css' %}">
<!--        <link rel="stylesheet" href="{% static 'styles/base.css' %}">-->
        {% block head %}{% endblock head %}
        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
        {% block body %}{% endblock body %}
        <script src="{% static 'scripts/vendor/bootstrap.js' %}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>